<div class="row justify-content-center">

  <div class="col-md-10 py-4">
    <div class="row">
      <div class="col-12">
        <h1 class="lined-title title-light">درباره ما</h1>
      </div>
    </div>
    <p>
      سایت ما پر ببینده‌ترین مجله‌ی اینترنتی فارسی‌زبان در حوزه‌ی فناوری است و با پروانه‌ی فعالیت پایگاه اطلاع‌رسانی
      اینترنتی
      به نام ذره‌بین و شماره ثبت ۹۳/۱۱۰۸۱ در زمینه‌ی فن‌آوری‌های نوین اطلاعات و ارتباطات در وزارت فرهنگ و ارشاد اسلامی
      ثبت
      شده است.
    </p>
    <p>
      این سایت شهریورماه ۸۹ شروع به کار کرد و به منبع اخبار تکنولوژی، مقالات راهنمای خرید، بررسی محصول و مقالات تحلیلی
      تبدیل شد.
      سایت news مورد اعتمادترین رسانه برای رویدادهای فناوری، بررسی گجت‌ها و پوشش نمایشگاه‌های داخلی و خارجی برای
      کاربران
      ایرانی
      است.
    </p>
  </div>
</div>