<div class="row" *ngIf="!loading">
  <div class="col-md-9 pt-4">
    <div>
      دسته بندی :
      <a routerLink="/news" [queryParams]="{category:category.id}">{{category.name}}</a>
    </div>
    <h1 class="mt-3">
      {{news.title}}
    </h1>
    <div>
      <mat-list>
        <mat-list-item>
          <p matLine>
            <span class="text-muted">
              تاریخ :
              {{news.date}}
            </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <img class="mb-3 w-100 rounded img-thumbnail" [src]="'../../../../assets/images/news/'+news.media">
      <p>{{news.description}}</p>
    </div>
    <tags [tags]="news.tags"></tags>
  </div>
  <div class="col-md-3">
    <h2 class="lined-title title-light">پربازدید ترین ها</h2>
    <card-type-c *ngFor="let m of mostViewed" [news]="m"></card-type-c>
  </div>
</div>

<loading [show]="loading"></loading>